@use "../../../styles/variables";
@use "../../../styles/mixins" as mixins;

.menu {
  height: 130px;
}

.filters {
  width: 100%;
  height: 100%;
  background-color: variables.$skeleton-base-color;

  @include mixins.background-gradient;
  animation: shine-lines variables.$skeleton-animation-duration infinite linear;
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }

  40%,
  100% {
    background-position: 300px;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    min-width: 300px;
    height: 350px;
  }
}
