@use "../../styles/variables";
@use "../../styles/mixins" as mixins;

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: variables.$black;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.1);
  }
}

.cover {
  height: 250px;
  width: 100%;
  background-color: lightgray;
  object-fit: cover;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detail {
  display: inline-block;
  min-height: 125px;
  padding: 24px;
}

.id {
  display: block;
  margin-bottom: 6px;
}

.btn {
  @include mixins.btn;
}
