@use "../../styles/variables";

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: variables.$black;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.1);
  }
}

.cover {
  height: 200px;
  width: 100%;
  background-color: lightgray;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detail {
  display: inline-block;
  margin-bottom: 12px;
  padding: 24px 24px 0;
}

.sizes {
  padding: 0 24px 24px;
}

.size {
  margin-right: 10px;

  &:last-child {
    margin: 0;
  }
}

.footer {
  padding: 0 24px 24px;
}
