@use "styles/reset";
@use "styles/variables";

html {
  height: 100%;
  font-size: 62.5%;
}

#root {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 1.2;
  color: #4d4d4d;
  background-color: variables.$primary-color;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
}

@media screen and (min-width: 620px) {
  body {
    font-size: 1.6rem;
    line-height: 1.4;
  }
}

@media screen and (max-width: 992px) {
  button {
    user-select: none;
  }
}
