@use "../../../styles/variables";

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  width: 100%;
}

.pagination {
  height: 50px;
  width: 100%;
}
