.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 30px 40px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.descriptionTitle {
  font-weight: 500;
  text-transform: capitalize;
}

.coverContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover {
  height: 500px;
  width: 400px;
  max-width: 100%;
  background-color: lightgray;
}
