@use "../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
}

.title {
  margin: 0;
}

.description {
  margin-top: 16px;
}

.btn {
  margin-top: 6px;

  &:hover {
    svg {
      fill: variables.$secondary-color-hover;
    }

    .btnText {
      color: variables.$secondary-color-hover;
    }

    .btnContent::after {
      background-color: variables.$secondary-color-hover;
    }
  }
}

.btnContent {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background-color: variables.$black;
    transition: background-color 0.2s;
  }
}

svg {
  fill: variables.$black;
  transition: fill 0.2s ease;
}

.btnText {
  margin-left: 10px;
  font-weight: 500;
  transition: color 0.2s ease;
}
