@use "../../../styles/variables";
@use "../../../styles/mixins" as mixins;

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cover {
  height: 250px;
  width: 100%;
  background-color: variables.$skeleton-base-color;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detail {
  display: inline-block;
  min-height: 125px;
  padding: 24px;
}

.line {
  width: 100%;
  height: 20px;
  margin-bottom: 6px;
  background-color: variables.$skeleton-base-color;

  &:last-child {
    width: 60%;
    margin: 0;
  }

  @include mixins.background-gradient;
  animation: shine-lines variables.$skeleton-animation-duration infinite linear;
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }

  40%,
  100% {
    background-position: 460px;
  }
}
