@use "../../styles/variables";

.menu {
  min-width: 300px;
  user-select: none;
}

.title {
  display: inline-block;
  width: 100%;
  font-weight: 700;
  text-align: center;
}

.fieldset {
  border: none;
}

.filterName {
  font-weight: 700;
}

input[type="checkbox"] {
  margin-right: 5px;
  accent-color: variables.$accent-color;

  &:hover {
    accent-color: variables.$accent-color-hover;
  }
}

@media screen and (min-width: 768px) {
  .title {
    margin-top: 30px;
  }
}
