@use "../../styles/variables";

.home {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card {
  position: relative;
  display: block;
  flex: 1 1 auto;
  width: 100%;
  height: 320px;

  &:hover {
    .text::after {
      width: 100%;
    }
  }
}

.coverWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &::after {
    content: "";
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.cover {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 500;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
  }
}

@media screen and (min-width: 768px) {
  .card {
    height: 400px;
  }

  .text {
    font-size: 2.6rem;
  }
}

@media screen and (min-width: 1024px) {
  .home {
    flex-direction: row;
    align-items: normal;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px 30px;
  }

  .card {
    flex: 0 1 auto;
    width: 400px;
    height: 600px;
  }
}
