@use "../../styles/variables";

.footer {
  height: 100px;
  width: 100%;
  background-color: variables.$secondary-color;
  color: variables.$primary-color;
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .text {
    max-width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .text {
    max-width: 70%;
  }
}
