.footer {
  height: 100px;
  width: 100%;
  background-color: gray;
  color: #d5d5d5;
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}
