@use "../../styles/variables";

.footer {
  height: 100px;
  width: 100%;
  background-color: variables.$secondary-color;
  color: variables.$primary-color;
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}
