@use "../../../styles/variables";
@use "../../../styles/mixins" as mixins;

.container {
  padding: 20px 30px;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.row {
  display: grid;
  align-items: center;
  gap: 5px;
}

.label {
  height: 25px;
}

.select {
  height: 45px;
}

.label,
.select {
  width: 100%;
  background-color: variables.$skeleton-base-color;

  @include mixins.background-gradient;
  animation: shine-lines variables.$skeleton-animation-duration infinite linear;
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }

  40%,
  100% {
    background-position: 300px;
  }
}

@media screen and (min-width: 768px) {
  .row {
    grid-template-columns: 150px 280px;
    gap: 20px;
  }
}
