.row {
  display: grid;
  grid-template-columns: 200px 300px;
  align-items: center;
  gap: 20px;
}

.errorContainer {
  margin-top: 5px;
}

.error {
  font-size: 1.2rem;
  color: #8d0505;
}

@media screen and (min-width: 620px) {
  .error {
    font-size: 1.4rem;
  }
}
