@use "../../styles/variables";

.pagination {
  margin: 20px 0 0;
}

.pages {
  width: fit-content;
  margin: 0 auto;
}

.page {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  color: variables.$accent-color;
  font-weight: 500;
  line-height: 30px;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: color 0.2s ease, background-color 0.2s ease;

  &.current {
    background-color: variables.$accent-color;
    color: #fff;
    pointer-events: none;
    cursor: default;
  }

  &.disabled {
    pointer-events: none;
    cursor: default;
  }

  a {
    display: block;
    height: 100%;
    width: 100%;
  }

  &:last-child {
    margin: 0;
  }

  &:hover:not(.current, .disabled) {
    background-color: variables.$light-gray;
  }
}
