@use "../../styles/variables";

.header {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 3px 20px 2px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 15px 20px;

  a {
    font-weight: 500;
    color: variables.$accent-color;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: variables.$accent-color-hover;
    }
  }
}
