@use "../../styles/variables";

.header {
  position: sticky;
  height: 60px;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;

  a {
    color: #000;
    text-decoration: none;

    &:hover {
      color: variables.$primary-color;
      transition: 0.5 ease;
    }
  }
}
