@use "./variables";

@mixin btn {
  display: inline-block;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  color: #4d4d4d;
  background-color: #fff;
  border: 1px solid variables.$primary-color;
  cursor: pointer;

  &:hover {
    color: variables.$primary-color_lighter;
    border: 1px solid variables.$primary-color_lighter;
    transition: 0.1s ease;
  }
}

@mixin btn-primary {
  color: #fff;
  background-color: variables.$primary-color;

  &:hover {
    color: #fff;
    background-color: variables.$primary-color_lighter;
    transition: 0.1s ease;
  }
}

@mixin btn-small {
  padding: 5px 15px;
}

@mixin background-gradient {
  background-image: linear-gradient(
    90deg,
    variables.$skeleton-base-color 0px,
    variables.$skeleton-shine-color 40px,
    variables.$skeleton-base-color 80px
  );
  background-size: 600px;
}
