$primary-color: #fff; // 60%
$secondary-color: #8f8f8f; // 30%
$secondary-color-hover: #a1a1a1;
$accent-color: #1f1f1f; // 10%
$accent-color-hover: #3d3d3d;
$black: #4d4d4d;
$light-gray: #f1f1f1;

$skeleton-base-color: #e5e5e5;
$skeleton-shine-color: #f1f1f1;
$skeleton-animation-duration: 4s;
