@use "../../../styles/variables";
@use "../../../styles/mixins" as mixins;

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 30px 40px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
}

.coverContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover {
  height: 500px;
  width: 400px;
  max-width: 100%;
  background-color: variables.$skeleton-base-color;
}

.line {
  width: 100%;
  height: 20px;
  margin-bottom: 6px;
  background-color: variables.$skeleton-base-color;

  &:last-child {
    width: 60%;
    margin: 0;
  }

  @include mixins.background-gradient;
  animation: shine-lines variables.$skeleton-animation-duration infinite linear;
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }

  40%,
  100% {
    background-position: 300px;
  }
}
